/* Theme */

main {
        /* background: #314159; */
        color: #7ba2bf;
}

.icons-social a {
        color: #7ba2bf;
        ;
}

.icons-social a svg path{
        fill:   #7ba2bf;
        ;
}

/* ---- particles.js container ---- */

#particles-js{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        filter: blur(10px);
  }

canvas {
        display: block;
        pointer-events: auto !important;
}

#bg{
        background: #314159;
        position:fixed;
        width: 100%;
        height: 100%;
        z-index: -100;
}