/* Theme */

main {
	/* background: #314159; */
	color: #7ba2bf;
}

.icons-social a {
	color: #7ba2bf;
	;
}

.icons-social a svg path{
	fill: 	#7ba2bf;
	;
}

/* ---- particles.js container ---- */

#particles-js{
	/* background: #314159; */
	position:fixed;
    filter: blur(5px);
	width: 100%;
	height: 100%;
	z-index: -10;
  }

#bg{
	background: #314159;
	position:fixed;
	width: 100%;
	height: 100%;
	z-index: -100;
}